<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.OrdersMapper">
	<select id="selectAllOrders" resultType="vo.Orders">
		SELECT orders.oid,
		orders.ocode,customer.cname,merchandise.mname,orders.orderdata,
		orders.oamount,employee.ename
		from customer,merchandise,employee,orders
		where
		orders.customerid=customer.cid and
		orders.employeeid=employee.eid and
		orders.merchandiseid=merchandise.mid


		<if test="ocode!=null and ocode!=''">
			and orders.ocode like '%${ocode}%'
		</if>
		<if test="mname!=null and mname!=''">
			and merchandise.mname like '%${mname}%'
		</if>
	</select>
</mapper>
