<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.StockinMapper">
	<select id="selectAllStockin" resultType="vo.Stockin" parameterType="vo.Stockin">
	SELECT stockin.sid,
		stockin.scode,customer.cname,merchandise.mname,stockin.samount,
		stockin.stockindate,employee.ename
		from customer,merchandise,employee,stockin where
		stockin.customerid=customer.cid and
		stockin.employeeid=employee.eid and stockin.merchandiseid=merchandise.mid
		
		<if test="scode!=null and scode!=''">
			and stockin.scode like '%${scode}%'
		</if>
		<if test="ename!=null and ename!=''">
			and employee.ename like '%${ename}%'
		</if>
		 order by stockin.sid desc
	</select>
	
	<insert id="insertStockin">
		insert into stockin(scode,customerid,merchandiseid,samount,stockindate,employeeid) 
		values(#{scode},#{cname},#{mname},#{samount},#{stockindate},#{ename})
	</insert>
	<resultMap type="vo.Stockin" id="stockinMap">
		<id property="sid" column="sid"/>
		<result property="scode" column="scode"/>
		<result property="cname" column="customerid"/>
		<result property="mname" column="merchandiseid"/>
		<result property="samount" column="samount"/>
		<result property="stockindate" column="stockindate"/>
		<result property="ename" column="employeeid"/>
	</resultMap>
	<select id="selectStockin" resultMap="stockinMap">
		select * from stockin where sid=#{sid}
	</select>
	
	<update id="updateStockin">
		update stockin set scode=#{scode},customerid=#{cname},merchandiseid=#{mname},
		samount=#{samount},stockindate=#{stockindate},employeeid=#{ename}
		where sid=#{sid}
	</update>
	
	<delete id="deleteStockin">
		delete from stockin where sid=#{sid}
	</delete>
</mapper>
