<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.UserMapper">
	<select id="findUserByAccountAndPassword" resultType="vo.Userinfo">
		select * from Userinfo where username=#{username} and password=#{password};
	</select>
	 <insert id="addUserinfo" parameterType="vo.Userinfo" >
		insert into Userinfo(username,password,sex,birthday,telephone,email) values (#{username},#{password},#{sex},#{birthday},#{telephone},#{email}); 
	</insert>
</mapper>
