<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.EmployeeMapper">
	 <insert id="addEmployee" parameterType="vo.Employee">
		insert into Employee(ecode,ename,birthday,sex,etelephone,eemail) values (#{ecode},#{ename},#{birthday},#{sex},#{etelephone},#{eemail}); 
	</insert>
	<select id="selectAllEmployee" resultType="vo.Employee">
		select * from Employee;
	</select>
	<select id="selectEmployee" resultType="vo.Employee">
		select eid,ecode,ename,birthday,sex,etelephone,eemail from Employee where eid=#{eid};
	</select>
	<update id="updateEmployee" parameterType="vo.Employee">
		update Employee set ecode=#{ecode},ename=#{ename},birthday=#{birthday},sex=#{sex},etelephone=#{etelephone},eemail=#{eemail} where eid=#{eid};
	</update>
	<delete id="deleteEmployee" parameterType="vo.Employee">
		delete from Employee where eid=#{eid};
	</delete>
</mapper>