<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.MerchandiseMapper">
	 <insert id="addMerchandise" parameterType="vo.Merchandise">
		insert into Merchandise(mcode,mname,mprice) values (#{mcode},#{mname},#{mprice}); 
	</insert>
	<select id="selectAllMerchandise" resultType="vo.Merchandise">
		select * from Merchandise;
	</select>
	<select id="selectMerchandise" resultType="vo.Merchandise">
		select mid,mcode,mname,mprice from Merchandise where mid=#{mid};
	</select>
	<update id="updateMerchandise" parameterType="vo.Merchandise">
		update Merchandise set mcode=#{mcode},mname=#{mname},mprice =#{mprice } where mid=#{mid};
	</update>
	<delete id="deleteMerchandise" parameterType="vo.Merchandise">
		delete from  Merchandise where mid=#{mid};
	</delete>
</mapper>