body{
	background:#F4F4F4;
    background-size: 100% 192%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 120px;
}
div{
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
    border-radius: 8px;
    background-size: 100% 100%;
    background-image: url(../images/loginInterface_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
span{
    font-size: 24px;
    color: #5ae2d1;
    height: 30px;
    line-height: 30px;
}
.username{
    width: 300px;
    text-align: center;
    opacity: 0.6;
    -moz-opacity: 0.6;
    stroke-opacity: 0.6;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 25px;
    padding: 5px;
    border: solid 1px grey;
}
.password{
    width: 300px;
    text-align: center;
    opacity: 0.6;
    -moz-opacity: 0.6;
    stroke-opacity: 0.6;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 25px;
    padding: 5px;
    border: solid 1px grey;
}
.user_code{
	  width: 150px;
    opacity: 0.6;
    -moz-opacity: 0.6;
    stroke-opacity: 0.6;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 25px;
    padding: 5px;
    border: solid 1px grey;
}
.img{
    width: 80px;
    opacity: 0.6;
    -moz-opacity: 0.6;
    stroke-opacity: 0.6;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;


}
.input1{
    width: 100px;
    height: 40px;
    line-height: 35px;
    font-size: 18px;
    margin: 30px;
  
}